:root {
  --background: #243642;
  --foreground: white;
  --accent: #387478;
  --font-roboto-mono: 'Roboto Mono', Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  color: var(--foreground);
  background: var(--background);
  margin: auto;
  font-family: var(--font-roboto-mono);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: inherit;
  text-decoration: none;
}
