:root {
  --background: #152d2f;
  --foreground: #ffffff;
  --accent: #387478;
  --accent-light: #55b7bd;
  --font-roboto-mono: 'Roboto Mono', Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
}
body {
  color: var(--foreground);
  background: var(--background);
  margin: auto;
  font-family: var(--font-roboto-mono);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7;
}
.page {
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding-bottom: 100px;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
a {
  text-decoration: none;
  color: var(--accent);
  font-weight: bold;
}
a:hover {
  color: var(--accent-light);
}
.button {
  height: 40px;
  border-radius: 4px;
  font-size: 18px;
  padding: 0 1rem;
}

.button.accent {
  background-color: var(--accent);
  border-color: var(--accent);
  color: var(--foreground)
}
li {
  list-style-position: inside;
}
p {
  margin: 1.2rem 0;
}
