.input {
  border-radius: 5px;
  border: none;
  background: #efefef;
  margin-bottom: 1rem;
  padding: 0 10px;
  height: 40px;
  width: 370px;
}
.dark .input {
  background: rgb(51, 51, 51);
  color: white;
}
.text-area {
  padding: 10px;
  margin-bottom: 1rem;
  width: 370px;
}

.error-message {
  color: red;
  font-size: small;
}

.hide {
  visibility: hidden;
}
.contact-form {
  width: 370px;
  margin: auto;
}